* {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
    box-sizing: border-box;
}

body {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
}

.login-title {
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 10px rgba(38, 149, 255, 0.5), 0 0 20px #2695ff, 0 0 100px #2695ff, 0 0 600px #2695ff, 0 0 900px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.09s infinite alternate;
    animation: buzz 0.09s infinite alternate;

}

@-webkit-keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
   
  @keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }

.login-form {
    display: block;
    text-align: center;
    margin-top: 5em;
}

.login-form input {
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-size: 18px;
    outline: none;
    border-bottom: 2px solid #2695ff;
    display: block;
    background: transparent;
    color: #fff;
    margin: auto;
    margin-top: 20px;
    width: 40%;
}

.login-form .button {
    width: 40%;
    margin-top: 20px;
    font-size: 18px;
    background: #212121;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline: none;
    padding: 10px;
    -webkit-box-shadow: inset 0px -2px 0px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -2px 0px -1px rgba(0,0,0,0.75);
    box-shadow: inset 0px -2px 0px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 100px #2695ff, 0 0 600px #2695ff, 0 0 900px #2695ff, 0 0 500px #2695ff;
}
